      
     <div class="container sections-wrapper">
        <div class="row">
            <div class="primary col-md-8 col-sm-12 col-xs-12">
                <section class="about section">
                    <div class="section-inner">
                        <h2 class="heading">About Me</h2>
                        <div class="content">
                            <p>A brief intro about myself to come right here in the near future. </p>    
         
        <p>Some more stuff over here too maybe.</p>
                         
                        </div><!--//content-->
                    </div><!--//section-inner-->                 
                              
                </section><!--//section-->