

 <div class="primary col-md-8 col-sm-12 col-xs-12">
	<section class="experience section">
	                    <div class="section-inner">
	                        <h2 class="heading">Work Experience</h2>
	                        <div class="content">
	                            <div class="item">
	                               
	                                <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
	                            </div><!--//item-->
	                           
	                        </div><!--//content-->  
	                    </div><!--//section-inner-->   

	</section><!--//section-->
  </div>


   <div class="secondary col-md-4 col-sm-12 col-xs-12">
                 <aside class="info aside section">
                    <div class="section-inner">
                        <h2 class="heading sr-only">Recent Blog Posts</h2>
                        <div class="content">
                            <p>
								<%= link_to 'My Blog', controller: 'articles' %> 
							</p>
                                
                        </div><!--//content-->  

                    </div><!--//section-inner-->                 
                </aside><!--//aside-->
	</div>             
               